<spacer size="10"></spacer>
<container class="footer">
    <row>
        <center>
            <a href="#"><img class="social_link" src="https://i.imgur.com/PuklCTT.png" /></a>
            <a href="#"><img class="social_link" src="https://i.imgur.com/gQXVIOB.png" /></a>
            <a href="#"><img class="social_link" src="https://i.imgur.com/uAJTgRm.png" /></a>
            <a href="#"><img class="social_link" src="https://i.imgur.com/fnYsZjh.png" /></a>
            <a href="#"><img class="social_link" src="https://i.imgur.com/RiuicYN.png" /></a>
        </center>
    </row>
    <row>
        <center>
            <a href="#"><img class="charity_link" src="https://i.imgur.com/vH8DPs8.png" /></a>
        </center>
    </row>
    <row>
        <center>
            <span style="color: #9b9b94; font-family: arial; font-size: 12px;">40 Worth Street, Suite 829, New York, NY
                10013</span>
        </center>
    </row>
    <row>
        <center>
            <span><a href="#" class="unsub_link">Send Me Less Emails</a>&nbsp;|
                <a href="#" class="unsub_link">View in browser</a></span>
        </center>
    </row>
</container>